#login {
    width: 100vw;
    height: 90vh;
    margin: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: #F0F0F0;
}

#login h1 {
    margin: 30px 0;
}

#login form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#login form p {
    display: none;
}

#login form .error-msg {
    display: block;
    text-align: left;
    color: #FF8787;
}

#login form input {
    width: 30vw;
    padding: 10px;
    font-size: 20px;
    margin: 20px 0;
    border: 2px solid #A8CAF6;
    border-radius: 10px;
}

#login form .input-error {
    border: 2px solid #FF8787;
}

#login form #forgot-password {
    font-size: 16px;
    text-align: left;
    margin: 20px 0;
    border: none;
    color: black;
    cursor: pointer;
}

#login form #btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login form #btn-container #login-btn {
    width: 15vw;
    height: 60px;
    max-width: 330px;
    margin: 20px 0;
    background-color: #299E9B;
    padding: 0 20px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#login form #loading-btn button {
    width: 15vw;
    height: 60px;
    max-width: 330px;
    margin: 20px 0;
    background-color: #134b4a;
    padding: 0 20px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: not-allowed;
}