header {
    width: 100vw;
    height: 70px;
    padding: 0.75rem 1.625rem;
    background: #84E5FE;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Rectangle 8 */
header #logo-container {
    position: relative;
    width: 50px;
    height: 50px;
    align-items: center;
    background: #FFFFFF;
    border-radius: 300px;
    flex: 1;
}

header #logo-container:hover {
    cursor: pointer;
}


/* Vector 1 */
header #logo-container #vector-1{
    position: absolute;
    left: 20px;
    top: 4.5px;
    width: 0px;
    height: 42px;
    border: 5px solid #FF8787;
}

/* Vector 2 */
header #logo-container #vector-2{
    position: absolute;
    left: 20px;
    top: 5px;
    width: 0px;
    height: 42px;
    border: 5px solid #FF8787;
    transform: rotate(-90deg);
}

header #logo-container:hover #vector-1 {
    border: 5px solid #ff6565;
}

header #logo-container:hover #vector-2 {
    border: 5px solid #ff6565;
}


header #title-container {
    flex: 0.8;
}

header h1{
    text-align: left;
    font-size: 32px;
    font-weight: bold;
}

header h1:hover {
    text-decoration: underline;
    cursor: pointer;
}

header nav #links-container {
    display: flex;
    align-items: center;
}

header nav #links-container a {
    width: 160px;
    height: 40px;
    padding: 0 15px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    align-content: center;
    border-radius: 5px;
    border: none;
}

header nav #links-container #login {
    background: #299E9B;
    color: #FFFFFF;
    font-size: 16px;
    font-style: normal;
    line-height: 27px;
    font-weight: 600;
}

header nav #links-container #register {
    margin-left: 10px;
    background: #333333;
    color: #FFFFFF;
    font-size: 16px;
    font-style: normal;
    line-height: 27px;
    font-weight: 600;
}


