<header>
    <nav>
        <span>
            <div id="logo-container">
                <span id="vector-1"></span>
                <span id="vector-2"></span>
            </div>
        </span>
        <span id="title-container">
            <div>
                <h1>Farm App</h1>
            </div>
        </span>
        <span id="btn-container">
            <button id="login-btn">
                Iniciar Sesion
            </button>
            <button id="register-btn">
                Registrarse
            </button>
        </span>
    </nav>
</header>
