<header>
    <nav>
        <span [routerLink]="['/']">
            <div id="logo-container">
                <span id="vector-1"></span>
                <span id="vector-2"></span>
            </div>
        </span>
        <span id="title-container" [routerLink]="['/']">
            <div>
                <h1>Farm App</h1>
            </div>
        </span>
        <span id="links-container">
            <a id="login" [routerLink]="['/login']">
                Iniciar Sesion
            </a>
            <a id="register" [routerLink]="['/register']">
                Registrarse
            </a>
        </span>
    </nav>
</header>
