#product-list {
    width: 80vw;
    margin: 10px 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#product-list #search-bar-container {
    margin: 32px 0;
    text-align: center;
}

#product-list #cards-container {
    width: 70%;
    margin: 20px auto 0 auto;
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto;
    row-gap: 36px;
}