<section id="register">
    <h1>Ingrese sus datos para registrarse</h1>
    <form action="">
        <div id="inputs">
            <div id="input-container">
                <input type="text" placeholder="Nombre">
                <p>Campo de error</p>
            </div>
            <div id="input-container">
                <input type="text" placeholder="Apellido">
                <p>Campo de error</p>
            </div>
            <div id="input-container">
                <input type="email" placeholder="Email">
                <p>Campo de error</p>
            </div>
            <div id="input-container">
                <input type="text" placeholder="Documento">
                <p>Campo de error</p>
            </div>
            <div id="pass-condition">
                <p>La contraseña debe ser de entre 6 carácteres a 12 carácteres, un número y un carácter especial.</p>
            </div>
            <div id="input-container">
                <input type="password" placeholder="Contaseña">
                <p>Campo de error</p>
            </div>
            <div id="input-container">
                <input type="password" placeholder="Repetir Contraseña">
                <p>Campo de error</p>
            </div>
        </div>
        <button type="button">Registrarse</button>
    </form>
</section>
