<main id="product-detail-container">
    <app-side-bar/>
    <section id="product-detail">
        <div id="product-detail-content">
            <picture>
                <img src={{product?.image}} alt={{product?.title}} width="300" height="200">
            </picture>
            <div id="product-detail-info">
                <h2>{{product?.title}}</h2>
                <h3>{{product?.description}}</h3>
                <h4>Price: {{product?.price | currency}}</h4>
            </div>
        </div>
        <div id="product-detail-buttons">
            <a [routerLink]="['/']"> Regresar a la lista de productos</a>
            <button type="button" (click)="addProduct(product)">Agregar</button>
        </div>
    </section>
</main>
