#product-detail-container {
    display: flex;
}

#product-detail-container #product-detail{
    display: flex;
    width: 100%;
    height: 90vh;
    background: #F0F0F0;
    flex-direction: column;
}

#product-detail-container #product-detail #product-detail-content {
    display: flex;
    width: 80vw;
    margin: 0 20vw;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
    margin-bottom: 5rem;
}

#product-detail picture {
    flex: 0.3;
}

#product-detail-container img {
    margin-top: 5rem;
    border-radius: 5px;
}

#product-detail #product-detail-info {
    text-align: left;
    flex: 0.5;
    margin-top: 5rem;
}

#product-detail h2 {
    font-size: 28px;
    margin-bottom: 1.5rem;
}

#product-detail h3 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

#product-detail h4 {
    font-size: 28px;
    margin-top: 3rem;
}

#product-detail #product-detail-buttons {
    margin: 0 auto;
    width: 55vw;
    display: flex;
    justify-content: space-between;
}

#product-detail #product-detail-buttons a {
    font-size: 18px;
    padding: 10px;
    font-weight: 600;
    color: #333333;
    text-decoration: none;
}

#product-detail #product-detail-buttons a:hover {
    text-decoration: underline;
}

#product-detail #product-detail-buttons button {
    padding: 14px 30px;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #299E9B;
    cursor: pointer;
}

#product-detail #product-detail-buttons button:hover {
    background-color: #228b22ac;
    text-decoration: underline;
}