#side-bar {
    position: fixed;
    width: 20vw;
    max-width: 300px;
    height: 100%;
    background-color: #A8CAF6;
    padding: 20px 0;
    display: flex;
    text-align: left;
    flex-direction: column;
}

#side-bar a {
    width: 100%;
    padding: 15px 0;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 400;
    color: black;
    align-items: center;
    text-decoration: none;
}

#side-bar a:hover {
    text-decoration: underline;
    cursor: pointer;
    background: #6da7f3;
}