#cart-product {
    width: max-content;
    max-width: 500px;
    height: 450px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    align-items: flex-end;
    border: 1px solid black;
    border-radius: 10px;
}

#cart-product picture {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cart-product img {
    border: 1px solid black;
    border-radius: 5px;
}

#cart-product h2 {
    width: 300px;
    height: 60px;
    overflow: hidden;
    margin: 18px 0 16px 0;
    text-overflow: clip;
    font-size: 28px;
}
#cart-product p {
    font-size: 18px;
}

#cart-product h3 {
    align-self: flex-start;
    font-size: 16px;
    font-weight: normal;
}

#cart-product #btn-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

#cart-product #btn-container p {
    font-size: 16px;
}

#cart-product button {
    width: 150px;
    padding: 12px 20px;
    background: #FF8787;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#cart-product button:hover {
    background: #ff6161;
}