<div id="card-product">
    <div>
        <picture>
            <img src="/prueba.jpg" alt="imagen-prueba">
        </picture>
        <h2>Lorem Ipsum</h2>
        <p>Disponible</p>
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem dolores pariatur iure rerum facere illo explicabo suscipit autem sit! Illum neque velit corrupti commodi ullam sint, et voluptatem illo temporibus.</h3>
    </div>
    <div id="btn-container">
        <p>Cantidad: 99</p>
        <button>Eliminar</button>
    </div>
</div>
