#category-products {
    width: 100vw;
    height: 90vh;
    overflow-y: auto;
    background-color: #F0F0F0;
    display: flex;
}

#category-products #category-container {
    width: 80vw;
    margin-left: 20vw;
}

#category-products #category-title h1{
    width: 100%;
    margin: 2rem 0;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

#category-products #products-list {
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}